.table {
  min-width: 70vh;
  max-width: 30vh;
 
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btn {
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btnModificar {
  background-color: #0d6efd;
}

.btnEliminar {
  background-color: #dc3545;
}

.btn:hover {
  opacity: 0.85;
}